#index
  .row
    .span1 &nbsp;
    .span6
      h1 
        i(class='icon-bell')
        span= info.name

      div.description!= info.description

    .span1 &nbsp;
    .span4
      .sidebar

        h3 
          i.icon-group 
          span Active Members

        ul.unstyled.members
        .more 
          i.icon-chevron-right
          a(href=info.link + 'members') view all #{info.members} #{info.who}
        .chat
          a(href="https://riverside.campfirenow.com/a3544") 
            i.icon-comment
            span Group Chat

  .row.who-what-when-where
    .span1 &nbsp;
    .span6

      h2 
        i.icon-time
        span Upcoming Meetups

      each event, i in events
        include events/single

      p.upcoming-meetups

      h2 
        i.icon-map-marker
        span More Meetups

      p Visit the 
        a(href=info.link) Meetup.com 
        span  page for more information on  our meetups.
        
      hr
      h2
        i.icon-bullhorn 
        span We talk about
      ul
        each topic, i in info.topics
          li= topic.name

      p &nbsp;    